@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
	font-size: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*::after,
*::before {
	box-sizing: inherit;
	margin: inherit;
	padding: inherit;
}
a,
a:visited,
a:focus {
	text-decoration: none;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.875rem;
	background: #1c2431;
	margin: 0;
	padding: 0;
	color: #fff;
}
a {
	color: unset;
}
.container {
	padding: 0 1.5625rem;
}
@media only screen and (min-width: 37.5em) {
	.container {
		padding: 0 4.5625rem;
	}
}
.header {
	font-family: 'Raleway', sans-serif;
}
.header__link:hover {
	font-weight: bold;
}
.hero {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
.hero__heading {
	font-size: 1.5rem;
	line-height: 2rem;
}
.hero__text {
	line-height: 1.3rem;
	font-size: 0.9rem;
}
@media only screen and (min-width: 37.5em) {
	.hero__heading {
		font-size: 2.3rem;
		line-height: 3.5rem;
	}
	.hero__text {
		font-size: 1.2rem;
		line-height: 1.8rem;
	}
}
.cons {
	text-align: left;
}
.cons__heading {
	font-size: 1rem;
}
.subscription__heading {
	font-size: 1.1rem;
}
.subscription__text {
	font-size: 0.79rem;
}
.subscription__error {
	color: #ff4242;
	font-size: 0.75rem;
}
@media only screen and (min-width: 50em) {
	.subscription__heading {
		font-size: 1.5rem;
	}
	.subscription__text {
		max-width: 37.6875rem;
		margin: 0 auto;
	}
	.subscription__error {
		text-align: left;
		padding-left: 4rem;
	}
}
.footer__social-icon {
	font-size: 1.1rem;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1.5625rem 0 3.4375rem;
}
.header__logo {
	max-width: 5.125rem;
}
.header__logo > img {
	max-width: 100%;
}
.header__links {
	display: flex;
	list-style: none;
}
.header__link:hover {
	text-decoration: underline;
	transform: scale(1.1);
}
.header__link + .header__link {
	margin-left: 1.5rem;
}
@media only screen and (min-width: 37.5em) {
	.header {
		margin: 4.5rem 0;
	}
	.header__logo {
		max-width: 10.875rem;
	}
}
.hero-wrapper {
	position: relative;
}
.hero-wrapper::before {
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	top: -6rem;
	width: 100%;
	height: 100%;
	background: url('../images/bg-curvy-mobile.svg') no-repeat center center;
	background-size: contain;
}
.hero-wrapper::after {
	content: '';
	position: absolute;
	top: 45%;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: #181f2a;
}
@media only screen and (min-width: 37.5em) {
	.hero-wrapper::before {
		background: url('../images/bg-curvy-desktop.svg') no-repeat bottom
			center;
		background-size: contain;
		top: 3rem;
		left: -0.5rem;
	}
	.hero-wrapper::after {
		display: none;
	}
}
.hero {
	max-width: 43.375rem;
	margin: 0 auto;
}
.hero__image {
	margin-bottom: 3.125rem;
}
.hero__image > img {
	max-width: 100%;
}
.hero__heading {
	margin-bottom: 2rem;
}
.hero__text {
	margin-bottom: 2.0625rem;
}
.hero__btn {
	margin-bottom: 8.3125rem;
}
@media only screen and (min-width: 37.5em) {
	.hero__heading {
		margin-bottom: 3.25rem;
	}
	.hero__text {
		margin: 0 auto 2.3125rem auto;
		max-width: 35.3125rem;
	}
	.hero__btn {
		margin-bottom: 10.25rem;
	}
}
.main {
	background: #181f2a;
	position: relative;
}
.features {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 6rem 0;
	padding-bottom: 10.0625rem;
}
@media only screen and (min-width: 50em) {
	.features {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 6rem 2rem;
		padding-bottom: 8.125rem;
	}
}
.cons {
	padding-bottom: 9.5625rem;
}
.cons__image > img {
	max-width: 100%;
	margin-bottom: 3.25rem;
}
.cons__heading {
	margin-bottom: 1.5rem;
}
.cons__text {
	margin-bottom: 1.5rem;
}
.cons__link-wrapper {
	max-width: 10.5rem;
}
.cons__link-wrapper:hover > span {
	border-color: #fff;
}
.cons__link-fill {
	display: block;
	width: 100%;
	height: 10px;
	width: 9.3rem;
	border-bottom: 1px solid #65e2d9;
}
.cons__link {
	padding-bottom: 0.375rem;
	color: #65e2d9;
	position: relative;
}
.cons__link::after {
	content: '';
	position: absolute;
	padding-bottom: 0.375rem;
	top: 50%;
	left: 62%;
	transform: translateY(-50%);
	width: 100%;
	height: 100%;
	background: url(../images/icon-arrow.svg) no-repeat center center;
}
.cons__link:hover {
	color: #fff;
}
.cons__link:hover::after {
	filter: brightness(200%);
}
@media only screen and (min-width: 50em) {
	.cons {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding-bottom: 8.75rem;
	}
	.cons__image {
		margin-right: 3.375rem;
	}
	.cons__heading {
		font-size: 2.3rem;
		max-width: 20.4375rem;
	}
	.cons__text {
		max-width: 31.125rem;
	}
}
.testimonials {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	row-gap: 1.5rem;
	column-gap: 2.4375rem;
	justify-items: center;
	padding-bottom: 21rem;
}
@media only screen and (min-width: 50em) {
	.testimonials {
		padding-bottom: 21.9375rem;
	}
}
.subscription {
	position: absolute;
	width: 100%;
	top: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: #1c2431;
	border-radius: 1rem;
	text-align: center;
	padding: 2.8125rem 1.875rem 2.375rem 1.875rem;
	max-width: 20rem;
}
.subscription__heading {
	margin-bottom: 1.5rem;
}
.subscription__text {
	margin-bottom: 2.125rem;
}
.subscription__input {
	width: 100%;
	border-radius: 2rem;
	border: none;
	margin-bottom: 0.2rem;
	padding: 1.2rem;
	max-width: 29.3125rem;
}
.subscription__input:hover,
.subscription__input:focus {
	outline: none;
}
.subscription__error {
	display: none;
}
.subscription__error--active {
	display: block;
}
@media only screen and (min-width: 50em) {
	.subscription__input-wrapper {
		flex: 2;
	}
}
@media only screen and (min-width: 50em) {
	.subscription__form {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}
.subscription__btn {
	padding: 1.2rem 3.5rem;
	color: #fff;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	background: linear-gradient(to right, #65e2d9, #339ecc);
	border-radius: 2rem;
	border: none;
	margin-top: 1.875rem;
}
.subscription__btn:hover {
	background: #65e2d9;
}
@media only screen and (min-width: 50em) {
	.subscription__btn {
		margin-top: 0;
		margin-left: 1rem;
		align-self: flex-start;
	}
}
@media only screen and (min-width: 23.5em) {
	.subscription {
		max-width: 90%;
	}
}
@media only screen and (min-width: 56.25em) {
	.subscription {
		max-width: 52.625rem;
		margin: 0 auto;
	}
}
.footer {
	background: #0b1523;
	padding-top: 15.625rem;
	padding-bottom: 2.6875rem;
}
@media only screen and (min-width: 50em) {
	.footer {
		padding-bottom: 0;
	}
}
.footer__logo {
	display: inline-block;
	margin: 0 0 3rem 0.75rem;
}
.footer__logo > img {
	max-width: 11rem;
}
@media only screen and (min-width: 50em) {
	.footer__content-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(28.125rem, 1fr));
		column-gap: 1rem;
	}
}
.footer__info-wrapper {
	display: grid;
	grid-template-columns: minmax(19rem, 22.125rem);
	row-gap: 1.5rem;
	margin-bottom: 5.5625rem;
}
@media only screen and (min-width: 40em) {
	.footer__info-wrapper {
		grid-template-columns: 1.5fr 1fr;
		column-gap: 1rem;
	}
}
.footer__info {
	display: grid;
	grid-template-columns: 1.375rem 1fr;
}
.footer__info-content {
	margin-left: 1.125rem;
}
.footer__info + .footer__info {
	margin-top: 1.75rem;
}
.footer__links-wrapper {
	list-style: none;
	margin-bottom: 3.5rem;
}
@media only screen and (min-width: 31.25em) {
	.footer__links {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}
@media only screen and (min-width: 50em) {
	.footer__links {
		justify-items: center;
	}
}
.footer__link {
	margin-bottom: 1.625rem;
}
.footer__link:hover {
	font-weight: 700;
}
.footer__social-icons {
	margin-top: 5.0625rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media only screen and (min-width: 31.25em) {
	.footer__social-icons {
		margin-top: 0;
		align-self: flex-start;
	}
}
.footer__social-icon {
	border: 1px solid #fff;
	border-radius: 2rem;
	width: 2.1875rem;
	height: 2.1875rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer__social-icon + .footer__social-icon {
	margin-left: 0.6875rem;
}
.footer__social-icon:hover {
	transform: scale(1.1);
}
.btn {
	color: #fff;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	padding: 1.1875rem 5.25rem;
	background: linear-gradient(to right, #65e2d9, #339ecc);
	border-radius: 2rem;
	border: none;
}
.btn:hover {
	background: #65e2d9;
}
.card {
	align-items: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
}
.card__image {
	margin-bottom: 2.375rem;
	max-height: 4.625rem;
}
.card__heading {
	font-size: 1.2rem;
	margin-bottom: 0.875rem;
}
.card__text {
	text-align: center;
	font-size: 0.79rem;
	max-width: 20.625rem;
	line-height: 1.2rem;
}
.testimonial {
	padding: 2.75rem 1.625rem 1.5625rem 1.625rem;
	max-width: 21.875rem;
	border-radius: 0.5rem;
	background-color: #202a3c;
}
.testimonial__text {
	margin-bottom: 1.75rem;
}
.testimonial__profile {
	display: flex;
	align-items: center;
}
.testimonial__image {
	max-width: 1.5rem;
	margin-right: 0.5rem;
}
.testimonial__image > img {
	max-width: 100%;
	border-radius: 2rem;
}
.testimonial__name {
	display: block;
	font-weight: 700;
}
.testimonial__status {
	display: block;
	font-size: 0.7rem;
}
.testimonial:hover {
	filter: brightness(120%);
}
.testimonial--quote {
	position: relative;
}
.testimonial--quote::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-50%);
	width: 100%;
	background: url('../images/bg-quotes.png') no-repeat left top;
}
